<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>PortalCompraBolsas</display-name>

	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>

	<listener>
		<listener-class>com.esa.ponline.portalbolsas.web.listener.ActionGlobalMessagesListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.Init</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>init</servlet-name>
		<url-pattern>/inicio</url-pattern>
	</servlet-mapping>
	
	<!-- 
	<filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.esa.ponline.portalbolsas.web.listener.ActionGlobalMessagesListener</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

	<servlet>
		<servlet-name>recarga</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.Recarga</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recarga</servlet-name>
		<url-pattern>/inicio/recarga</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bolsas</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.SeleccionBolsa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bolsas</servlet-name>
		<url-pattern>/inicio/bolsas</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>compra</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.Compra</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>compra</servlet-name>
		<url-pattern>/inicio/compra</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<description>Servlet para cierre de WebPay</description>	    
		<servlet-name>validaWP</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.ValidaWP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validaWP</servlet-name>
		<url-pattern>/inicio/webpay/validarRecarga.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cierreWP</servlet-name>
		<servlet-class>com.esa.ponline.portalbolsas.web.servlets.CierreWP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cierreWP</servlet-name>
		<url-pattern>/inicio/webpay/cierreWP.do</url-pattern>
	</servlet-mapping>
	
	
	<context-param>
    	<param-name>confirmarCompra</param-name>
    	<param-value>confirmar</param-value>
	</context-param>
</web-app>